
.header
{
    grid-area: header;
    padding-top: 6%;
    

    
}

.upper-header
{
    color:white;
    display: flex;
    /* row */
    justify-content: space-around;
    font-size: 1.5rem;
}

.header-nav > ul
{
    display: flex;
    justify-content: space-around;
   gap: clamp(8px, 2vw, 24px);
    
}

.lower-header
{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.lower-header >img{
    width: 15%;
    height: 15%;
}

.lower-header  > .header-heading
{
color: #FF7575;
font-weight: 400;
font-style: italic;
font-size: 3.5rem;
/* font-family: "Poppins"; */




}


.lower-header  > .header-text
{
color:white;
font-weight: 400;

font-size: 3.5rem;
font-size: 1.5rem;
/* font-family: "Poppins"; */



}



